[submodule "resources/form"]
	path = resources/form
	url = https://github.com/TanStack/form.git
	branch = main
[submodule "resources/table"]
	path = resources/table
	url = https://github.com/TanStack/table.git
	branch = main
[submodule "resources/orpc"]
	path = resources/orpc
	url = https://github.com/unnoq/orpc.git
	branch = main
[submodule "resources/better-auth"]
	path = resources/better-auth
	url = https://github.com/better-auth/better-auth.git
	branch = canary
[submodule "resources/scalar"]
	path = resources/scalar
	url = https://github.com/scalar/scalar.git
	branch = main
[submodule "resources/hyprwhspr"]
	path = resources/hyprwhspr
	url = https://github.com/goodroot/hyprwhspr.git
	branch = main
